<html>
  <head>
    <title>Report</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script type="text/javascript" language="javascript">
      <!--
      tstCurrentDate = "<%= Date.today %>";
      tt_cancel_destination = '/clinic';
      tt_cancel_show = '/clinic';

      //-->
    </script>

    <style>
      #main {
        width: 99.7%;
        height: 88.5%;
        overflow: auto;
      }

      button{
        margin: 5px;
      }
    </style>
  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <iframe id="main" src="/reports/report_printable<%= @parameters %>"></iframe>

        <div style="z-index:11;bottom:0px; height: 82px; width: 100%; left: 0px;
             right: -66px; position: absolute; background-color: #333333; padding: 0px;">
          <button onclick="window.location = '/reports/select/';" class="button navButton red"
                  id="cancelButton" style="position: absolute; z-index: 100; margin-top: 10px;"><span>Cancel</span>
          </button>

          <button onclick="window.location = '/clinic';" class="button navButton green"
                  id="nextButton" style="margin-top: 10px; margin-right: 20px;" ><span>Finish</span>
          </button>
          <button onclick="window.location = '/reports/print_note<%= @parameters %>';" class="button navButton blue"
                  id="nextButton" style="margin-top: 10px; margin-right: 20px;" ><span>Print</span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>